<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdullaer.vplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.wdullaer.vplayer.MainActivity"
            android:banner="@drawable/vplayer_banner"
            android:icon="@drawable/vplayer_banner"
            android:label="@string/app_name"
            android:logo="@drawable/vplayer_banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="android.app.default_searchable"
            android:value="com.wdullaer.vplayer.DetailsActivity" />
        <activity android:name="com.wdullaer.vplayer.DetailsActivity"
            android:theme="@style/Theme.Leanback.Details">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.wdullaer.vplayer.PlaybackActivity" />
        <activity android:name="com.wdullaer.vplayer.BrowseErrorActivity" />
        <activity android:name="com.wdullaer.vplayer.SearchActivity" />
        <activity android:name="com.wdullaer.vplayer.VerticalGridActivity"
            android:exported="true"
            android:parentActivityName="com.wdullaer.vplayer.MainActivity" />
        <activity android:name="com.wdullaer.vplayer.SettingsActivity"
            android:exported="true"
            android:theme="@style/LeanbackPreferences"/>
        <activity android:name="com.wdullaer.vplayer.AuthenticationActivity" />
        <receiver android:name=".recommendation.RecommendationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name="com.wdullaer.vplayer.recommendation.RecommendationService"
            android:enabled="true" />
        <service android:name="com.wdullaer.vplayer.recommendation.ChannelService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />
        <service android:name="com.wdullaer.vplayer.recommendation.ChannelProgramService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />
        <provider android:name="com.wdullaer.vplayer.VRTContentProvider"
            android:authorities="com.wdullaer.vplayer"
            android:exported="true">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
    </application>

</manifest>